*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    height: 100px;
    background-color: #4EA1FF;
    background-image: url(../img/pattern.png);
    background-size: contain;
}

h1{
    margin-top: 25px;
}

address{
    font-style: normal;
    color: #808080;
}

table{
    border-collapse: collapse;
}

thead{
    text-align: left;
    background-color: #20a9e5;
    color: white;
}

h2{
    color: #808080;
    font-size: 1em;
}

.logo{
    height: 50px;
    margin-top: 50px;
}

.author{
    color: #3cb4e7;
}

.date{
    font-size: 0.75em;
}

.caption{
    font-size: 0.75em;
}

.paragraph{
    margin-top: 15px;
    margin-bottom: 20px;
}

.highlight{
    background-color: yellow;
}

.list{
    padding-left: 20px;
    margin-bottom: 15px;
}

.cell{
    width: 25%;
}

.cell2{
    width: 50%;
}

.blue-row{
    background-color: #b1e5f2;
}

.white-row{
    background-color: #f2f2f2;
}

.image1{
    padding: 5px;
    margin: 5px;
    font-size: 1.2em;
    font-weight: 900;
    color: white;
    height: 150px;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

.image2{
    padding: 5px;
    margin: 5px;
    font-size: 1.2em;
    font-weight: 900;
    color: white;
    height: 150px;
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}